In [72]:
import numpy as np
import pandas as pd
energy = pd.read_csv('/content/energydata_complete.csv')
energy.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [60]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [61]:
energy = energy[['T2', 'T6']]
energy

              T2         T6
0      19.200000   7.026667
1      19.200000   6.833333
2      19.200000   6.560000
3      19.200000   6.433333
4      19.200000   6.366667
...          ...        ...
19730  25.890000  24.796667
19731  25.754000  24.196667
19732  25.628571  23.626667
19733  25.414000  22.433333
19734  25.264286  21.026667

[19735 rows x 2 columns]

In [62]:
#scaling data using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(energy), columns=energy.columns)
X = normalised_data.drop(columns=['T6'])
Y = normalised_data['T6']

In [63]:
#split data using train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)
linear_model = LinearRegression()
#fit model to training set 
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
#test and print output
predicted_values = linear_model.predict(x_test)
predicted_values

array([0.23928945, 0.46794238, 0.23108472, ..., 0.3001772 , 0.4297256 ,
       0.3217686 ])

In [65]:
from sklearn.metrics import r2_score
model_r2 = r2_score(y_test, predicted_values)
round(model_r2, 2)

0.64

In [66]:
#performance metrics mean absolute error
from sklearn.metrics import mean_absolute_error
model_mae = mean_absolute_error(y_test, predicted_values)
round(model_mae, 2)

0.08

In [67]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values)) 
round(rss, 2)

66.12

In [68]:
#root mean squared error
import numpy as np
from sklearn.metrics import mean_squared_error
model_rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(model_rmse, 2)

0.11

In [69]:
#coef
print('Coefficients: ', linear_model.coef_)

Coefficients:  [0.8910771]

In [70]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [71]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)